@model IEnumerable<Assignment.Models.Dish>
@{
    ViewData["Title"] = "Shop by " + ViewData["MenuName"];
}

<h1>Shop by @ViewData["MenuName"]</h1>

<section class="row card-group">
    @foreach(var dish in Model)
    {
        <div class="col-lg-4 mb-3">
            <div class="card mb-4">
                <div class="card-body text-center h-100">
                    @if(dish.Image != null)
                    {
                        <img
                       src="~/img/dishes/@dish.Image" 
                       alt="photo of @dish.Name"
                       class="img-thumbnail"
                        />
                    }
                    <a asp-controller="Dishes" asp-action="Details" asp-route-id="@dish.Id">
                        @dish.Name
                    </a>
                    <h6>@dish.Price.ToString("C")</h6>                    
                    
                    <form method="POST" action="/Shop/AddToCart">
                        <input type="hidden" id="DishId" name="DishId" value="@dish.Id" />
                        <input type="hidden" id="Quantity" name="Quantity" value="1" />

                        <button class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
</section>
